@import url(https://fonts.googleapis.com/css2?family=Alex+Brush&family=Oswald&family=Poppins);

* {
  margin: 0;
  padding: 0;
  font-family: "Oswald";
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  border-radius: 10px;
}

button {
  cursor: pointer;
}

hr {
  width: 10%;
}

li {
  margin-left: 2rem;
}

.light_btn {
  margin: 0.5rem;
  font-size: 1rem;
  border-radius: 50px;
  padding: 0.5rem 1.5rem;
  font-family: "Poppins";
  border: 2px solid black;
  background-color: transparent;
}

.dark_btn {
  color: white;
  margin: 0.5rem;
  font-size: 1rem;
  border-radius: 50px;
  padding: 0.5rem 1.5rem;
  font-family: "Poppins";
  border: 2px solid black;
  background-color: black;
}

.icon_btn {
  border: 0;
  width: 3rem;
  height: 3rem;
  color: white;
  margin: 0.5rem;
  font-size: 1.25rem;
  border-radius: 50%;
  background-color: black;
}
