.hero_sec {
  height: 100vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.hero_sec h1 {
  font-size: 8rem;
  font-family: "Alex Brush";
}

.hero_sec h2 {
  font-weight: 100;
  font-style: italic;
  font-size: 2.25rem;
  letter-spacing: 1rem;
}

.heading {
  margin: 5rem;
}

.heading h2 {
  font-size: 2.5rem;
}

.grid_sec {
  display: flex;
  margin: 10rem 5rem;
  justify-content: space-between;
}

.image_sec {
  width: 55vw;
}

.text_sec {
  width: 40vw;
}

.text_sec h2 {
  font-size: 2.5rem;
}

.text_sec h3 {
  font-size: 1rem;
  font-weight: 300;
  font-family: "Poppins";
}

.text_sec p {
  font-size: 1.5rem;
}
