.hero_sec {
  height: 100vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.hero_sec h1 {
  font-size: 8rem;
  font-family: "Alex Brush";
}

.hero_sec h2 {
  font-style: italic;
  font-size: 2.25rem;
  letter-spacing: 1rem;
}

.heading {
  margin: 5rem;
}

.heading h2 {
  font-size: 2.5rem;
}

.my_image {
  width: 20rem;
  height: 20rem;
  border-radius: 60%;
  border: 6px solid black;
}

.grid_sec {
  display: grid;
  margin: 10rem 5rem;
  grid-template-columns: repeat(2, 1fr);
}

.image_sec {
  text-align: center;
}

.text_sec h2 {
  font-size: 2.5rem;
}

.text_sec h3 {
  font-size: 1rem;
  font-family: "Poppins";
}

.text_sec p {
  font-size: 1.25rem;
}

@media only screen and (max-width: 500px) {
  .grid_sec {
    margin: 1rem;
    display: block;
  }
}
